* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.list-food {
  background-color: #f4f4f4;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.food {
  padding: 10px;
}
.food img {
  width: 200px;
  height: 150px;
  gap: px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.food1 img {
  width: 400px;
  flex: 2;
}
.food2 img {
  flex: 1;
}
.food3 img {
  flex: 1;
}
.food4 img {
  width: 400px;
  flex: 2;
}
.food5 img {
  width: 400px;
  flex: 2;
}
.food6 img {
  flex: 1;
}
.food7 img {
  width: 400px;
  flex: 2;
}
h3 {
  text-align: center;
}
.price {
  color: rgb(148, 148, 18);
  text-align: center;
}