*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #F8F5F0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    background: #1E1E1E;
    color: #DDDDDD;
}
nav{
    display: flex;
    gap: 24px;
}
nav a {
    color: #DDDDDD;
    text-decoration: none;
    font-size: 14px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 16px;
    width: 450px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.088);
}
img{
    width: 410px;
    height: 240px;
    border-radius: 10px;
    margin: 5px 0px;
}
h4{
    margin: 10px 0px;
}
main p{
    font-size: x-small;
    text-align: center;
    color: rgba(0, 0, 0, 0.647);
}
div a{
    color:rgb(189, 161, 1);
    text-decoration: none;
    font-size: xx-small;
    margin-top: 20px;
    font-weight: bold;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
section div{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 12px;
    width: 700px;
    border-radius: 10px;
    margin-top: 15px;
}
section p{
    font-size: x-small;
    color: rgba(0, 0, 0, 0.647);
}

footer{
    color: rgb(218, 218, 218);
    background-color: #1E1E1E;
    font-size: x-small;
    padding: 20px;
    text-align: center;
}