*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 30px;
    background: #1E1E1E;
    color: #D4AF37;
}
nav{
    display: flex;
    gap: 24px;
}
nav a {
    color: #DDDDDD;
    text-decoration: none;
    font-size: 12px;
}

main{
    background-image: url(../anh/1.8.jpg);
    display: flex;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 370px;
    color: white;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 40px;
    text-align: center;
    font-weight: lighter;
}
main h1{
    font-size: 40px;
}
main p{
    font-size: 14px;
    color: white;
}
button{
    width: 140px;
    padding: 10px 0px;
    background-color: #deb83d;
    border-radius: 50px;
}
button a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
h2{
    font-size: 30px;
}

section{
    height: 390px;
    line-height: 40px;
}
h2{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}
section div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}
img{
    width: 160px;
    height: 200px;
    border-radius: 15px;
    transition: all 0.2s ease;
}
img:hover{
    transform: scale(1.1);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.386);
}

.box{
    background-color: #1E1E1E;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
    text-align: center;
    font-weight: lighter;
    color: #dddddd9c;
    padding-top: 50px;
    flex-wrap: wrap;
}
.box h2{
    color: #D4AF37;
}

footer{
    background-color: #111111;
    margin-top: 80px;
    padding: 30px;
    font-size: smaller;
}